html {
  color-scheme: dark;
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;

  color: #ccc;
  background-color: #1a1a1a;

  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
}

#with-map {
  display: grid;
  grid-template-columns: 2fr minmax(0, 1fr) minmax(0, 1fr);
  height: 99vh;
  overflow: hidden;
}

#with-map > div {
  position: relative;
  width: 100%;
  height: 100%;
}

#with-map svg {
  border-right: 1px solid white;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #4a4411 0,
    #4a4411 0.4em,
    #503f18 0,
    #503f18 0.5em
  );
  background-size: 0.5em 0.5em;
}
